
<div class="card border-0 pb-5">
  <div class="card-body">
    <div class="container">
      <app-table
        [tableData]="data"
        [tableTitle]="tableTitle"
        [tableColumns]="tableHeaders"
        [isFilterable]="true"
        [isPageable]="true"
        [defaultPageSize]="4"
        [showAction]="true"
        [isLoading]="isLoading"
        [showDetailsButton]="true"
        [showToolBar]="showToolBar"
        (editEvent)=" updateSales($event)"
        (deleteEvent)="deleteTransaction($event)"
        (openNewFormEvent)="newTransaction($event)"
        (showDetailsEvent)="showDetails($event)"
      >
      </app-table>
    </div>
    <mat-paginator class="pb-5"
      [length]="totalData"
      [pageSize]="100"
      [pageSizeOptions]="[50,  100, 200,500]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
