  $color-primary-light:blue;
  $color-gold:#B28451;
  $color-gray:#f7fafc;
  $color-black-light:rgba(78, 74, 74, 0.849);
  $color-danger:rgba(236, 9, 104, 0.973);
  $color-white:#ffff;
  $color-navy:navy;
  $color-primary:rgb(3, 3, 153);
  $color-dark:rgb(5, 5, 5);
  $color-grey: rgb(85, 81, 81);
  $color-grey-dark-3: #333;
  $color-warning:#fdb347;
